# Python project components
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.egg-info/
env/
dist/
build/
*.egg
*.whl
.DS_Store
example/

# React and JavaScript project components
node_modules/


# Miscellaneous elements
misc_data/


# VSCode Elements
# Configuration to build and develop the project is explained in the readme!
.vscode/
